.text_input_label {
	position: absolute;
	top: 20px;
	font-size: 16px;
}

.text_input_field {	
	width: 150px;
	height: 35px;
	position: relative;
	display: inline-block;
	margin-top: 15px;
	padding: 10px 15px 10px 15px;
	box-sizing: border-box;	
	border: 1px solid rgb(133, 133, 133);
	border-radius: 4px;
	background: white;
	font-size: 16px;
	color: black;	/*Заполненного поля*/	
	-moz-appearance: textfield;  /*Убрать стрелки */
}
 .text_input_field::-webkit-inner-spin-button { /*Убрать стрелки*/
	display: none;
 }

 .error_text_input_field {
	border: 1px solid rgb(133, 133, 133);	
 }

.input_focus {
	border: 1px solid rgb(158, 214, 26); 
	outline: none;
	color: green; /*При заполненеии поля*/
	background-color: white;
	transition: 0.5s;
}

.clear_btn {
	display: none;
	position: absolute;
	top: 23px;
	right: 11px;
	z-index: 1;
	font: 400 16px Arial;
	color: rgb(133, 133, 133);
	cursor: pointer;
	
}

.curent_price {
	display: block;
	margin-left: 38px;
	font-size: 18px;
}

.error_price {
	position: absolute;
	top: 73px;
	left: 70px;
	color: red;
	font-size: 10px;
	opacity: 0;
}